
#topo_chart {
    /*margin: unset;*/
    width: fit-content;
}

.legend-object {
    padding-bottom: 20px;
    width: auto;
}

.legend-title {
    /* bottom: 90%; */
    /* width: 100%; */
    /* height: 100%; */
    z-index: 20;
    background-color: darkorange;
    border-radius: 25px;
    width: fit-content;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    /* top: -20px; */
    /* left: 20px; */
}

.legend {
    /* position: fixed; */
    bottom: 0px;
    z-index: 10;
    background-color: ghostwhite;
    border-radius: 25px;
    width: 400px;
    padding-top: 30px;
    padding-bottom: 20px;
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    box-shadow: 10px 5px 5px rgba(116, 116, 116, 0.78);
}

.setter-title {
    font-size: larger;
    font-weight: bold;
    /*padding-bottom: 10px;*/
}

.btn {
    margin-left: 10px;
}

#controler-bar {
    height: 55%;
}

.setter-sub-title {
    font-weight: bold;
    padding-left: unset;
}

.setter-elements {
    font-weight: bold;
    margin: auto;
}

.svg-icon {
  margin-right: 5px;
}

#path_coords_list {
    /*padding-left: 4em;*/
    max-height: 200px;
    overflow-x: hidden;
        padding-left: 20px;
}

.btn {
    padding-top: 0px;
    padding-bottom: 0px;
}

textarea {
    resize: none;
}

.centered {
    margin-right: 5px;
    height: 25px;
}

.coords_element {
    padding-bottom: 10px;
}

#chart_setter {
    margin: 30px;
}

.tooltip {
    /*margin: 15px;*/
    /*background-color: grey;*/
    /*border-radius: 15px;*/
    /*border: 1px solid black;*/
}